@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpaceMono';
  src: url('./assets/fonts/space_mono/SpaceMono-Bold.ttf') format('truetype');
  src: url('./assets/fonts/space_mono/SpaceMono-BoldItalic.ttf')
    format('truetype');
  src: url('./assets/fonts/space_mono/SpaceMono-Italic.ttf') format('truetype');
  src: url('./assets/fonts/space_mono/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('./assets/fonts/poppins-v5-latin-300.woff2') format('woff2'),
    url('./assets/fonts/poppins-v5-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./assets/fonts/poppins-v5-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/poppins-v5-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('./assets/fonts/poppins-v5-latin-600.woff2') format('woff2'),
    url('./assets/fonts/poppins-v5-latin-600.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('./assets/fonts/poppins-v5-latin-700.woff2') format('woff2'),
    url('./assets/fonts/poppins-v5-latin-700.woff') format('woff');
}

body {
  margin: 0;
}

* {
  font-family: 'Poppins', sans-serif;
}
