@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-blue: #080e1d;
    --rbc-color: #4eb445;
    --rbc-border-color: #4eb445;
    --rbc-today-bg: #4eb445;
    /* ShadCn */
    --background: 0 0% 95%; /* #f2f2f2 */
    --primary: 22, 100%, 50%; /* #FF5C00,*/
    --secondary: 0 0% 70%; /* #B2B2B2,*/
    --secondary-foreground: 222.2 47.4% 11.2%;
    --text: 0 0% 0% /* black */;
    --muted: 0 100% 100%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  /* ShadCn */
  .dark {
    --primary: 22, 100%, 50%; /* #FF5C00,*/
    --secondary: 0 0% 100%; /* white,*/
    --text: 0 0% 100%; /* #white,*/
  }
  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}

@font-face {
  font-family: 'SpaceMono';
  src: url('../assets/fonts/space_mono/SpaceMono-Bold.ttf') format('truetype');
  src: url('../assets/fonts/space_mono/SpaceMono-BoldItalic.ttf')
    format('truetype');
  src: url('../assets/fonts/space_mono/SpaceMono-Italic.ttf') format('truetype');
  src: url('../assets/fonts/space_mono/SpaceMono-Regular.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  src: url('../assets/fonts/rubik/Rubik-VariableFont_wght.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  src: url('../assets/fonts/rubik/Rubik-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/manrope/Manrope-VariableFont_wght.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('../assets/fonts/poppins/Poppins-VariableFont_wght.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  src: url('../assets/fonts/poppins/Poppins-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-display: swap;
}

@layer base {
  :root {
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  html {
    padding-right: 0 !important;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  * {
    font-family: 'Rubik', sans-serif;
  }

  body {
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
    font-synthesis: none !important;
  }

  details > summary {
    list-style: none;
  }

  details > summary::marker,
  details > summary::-webkit-details-marker {
    display: none;
  }
}

@layer components {
  .desktop-body1 {
    @apply text-base font-normal leading-normal tracking-015px;
  }

  .desktop-caption1 {
    @apply text-xs font-normal leading-[166%] tracking-[0.4px];
  }

  .desktop-h3 {
    @apply text-[48px] font-normal leading-[116.7%] tracking-normal;
  }

  .desktop-h4 {
    @apply text-[34px] font-normal leading-tight tracking-[0.25px];
  }

  .desktop-h5 {
    @apply text-2xl font-normal leading-snug;
  }

  .desktop-h6 {
    @apply text-2xl font-semibold leading-snug;
  }

  .desktop-h7 {
    @apply text-xl font-medium leading-[160%] tracking-015px;
  }

  .desktop-h8 {
    @apply text-xl font-normal leading-relaxed tracking-015px;
  }

  .desktop-subtitle1 {
    @apply text-base font-normal leading-[175%] tracking-015px;
  }

  .desktop-typo1 {
    @apply text-sm font-normal leading-[143%] tracking-[0.17px];
  }

  .desktop-typo2 {
    @apply text-base font-medium leading-normal tracking-015px;
  }

  .desktop-25px-medium {
    @apply text-2xl font-medium leading-normal tracking-normal;
  }

  mjx-container {
    @apply bg-white/20 p-1 rounded-lg leading-loose;
  }
  mjx-container svg {
    @apply max-w-full inline-block;
  }

  .mobile-body2 {
    @apply text-sm font-normal leading-[143%] tracking-[0.17px];
  }

  .mobile-body3 {
    @apply text-xs font-normal leading-[143%] tracking-[0.17px];
  }

  .mobile-caption1 {
    @apply text-xs font-normal leading-normal;
  }

  .mobile-h2 {
    @apply text-2xl font-medium leading-tight;
  }

  .mobile-h3 {
    @apply text-lg font-medium leading-[133.4%];
  }

  .mobile-subtitle1 {
    @apply text-base font-medium leading-normal tracking-015px;
  }

  .mobile-subtitle2 {
    @apply text-sm font-medium leading-[120%];
  }

  .body-12px {
    @apply text-xs font-normal leading-[143%] tracking-[0.17px];
  }

  .body-medium-12px {
    @apply text-xs font-medium leading-[143%] tracking-[0.17px];
  }

  .body-14px {
    @apply text-sm font-normal leading-[143%] tracking-[0.17px];
  }

  .body-14px-medium {
    @apply text-sm font-medium leading-[143%] tracking-[0.17px];
  }

  .body-16px {
    @apply text-base font-normal leading-normal tracking-015px;
  }

  .body-16px-medium {
    @apply text-base font-medium leading-[150%] tracking-015px;
  }

  .body-medium-16px {
    @apply text-base font-medium leading-normal tracking-015px;
  }

  .display-large {
    @apply text-5xl leading-[116%] font-normal tracking-normal;
  }

  .display-large-med-48px {
    @apply text-5xl leading-[116%] font-medium tracking-normal;
  }

  .display-large-bold-caps-48px {
    @apply text-5xl leading-[116%] font-bold tracking-normal uppercase;
  }

  .display-medium-40px {
    @apply text-[40px] leading-[116%] font-normal tracking-normal;
  }

  .display-medium-bold-caps-40px {
    @apply text-[40px] leading-[116%] font-bold tracking-normal uppercase;
  }

  .display-semibold-40px {
    @apply text-[40px] leading-[116%] font-semibold tracking-normal;
  }

  .display-small-32px {
    @apply text-[32px] leading-[120%] font-normal tracking-normal;
  }

  .display-small-bold-caps-22px {
    @apply text-[22px] leading-[116%] font-bold tracking-normal uppercase;
  }

  .label-large-20px {
    @apply text-xl leading-normal font-normal tracking-[0.1px];
  }

  .label-large-med-20px {
    @apply text-xl leading-normal font-medium tracking-[0.1px];
  }

  .label-medium-16px {
    @apply text-base leading-tight font-normal tracking-[0.1px];
  }

  .label-medium-med-16px {
    @apply text-base leading-tight font-medium tracking-[0.1px];
  }

  .label-normal-16px {
    @apply text-base leading-normal font-normal tracking-[0.1px];
  }

  .label-small-12px {
    @apply text-xs leading-relaxed font-normal tracking-[0.1px];
  }

  .subtitle-large-caps-22px {
    @apply text-[22px] leading-[120%] font-normal -tracking-[0.132px] uppercase;
  }

  .subtitle-large-med-20px {
    @apply text-xl leading-[160%] font-medium tracking-015px;
  }

  .subtitle-medium-caps-18px {
    @apply text-base leading-normal font-normal tracking-normal uppercase;
  }
  .subtitle-med-16px {
    @apply text-base leading-[160%] font-normal tracking-015px;
  }

  .subtitle-small-caps-14px {
    @apply font-normal text-sm uppercase;
  }

  .subtitle-small-med-14px {
    @apply text-sm leading-[160%] font-medium tracking-[0.1px];
  }

  .title-large-24px {
    @apply text-2xl font-normal leading-[133%] tracking-015px;
  }

  .title-large-sb-24px {
    @apply text-2xl font-semibold leading-[133%] tracking-015px;
  }

  .title-medium-sb-18px {
    @apply text-lg font-semibold leading-[133%] tracking-normal;
  }

  .title-small-med-16px {
    @apply text-base leading-normal font-medium tracking-015px;
  }

  .width-increment-20 {
    @apply w-[calc(100%+20px)] -ml-[10px];
  }

  .blockquote-desktop {
    @apply text-lg font-semibold text-center not-italic;
  }
}

@layer utilities {
  .filter-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(805%)
      hue-rotate(185deg) brightness(105%) contrast(101%);
  }

  .filter-newOrange1 {
    filter: brightness(0) saturate(100%) invert(33%) sepia(98%) saturate(1484%)
      hue-rotate(3deg) brightness(105%) contrast(102%);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-dark::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-dark::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #666666;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb {
    background: #ff975c;
    border-radius: 4px;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background: #ff792e;
  }

  .scrollbar-light::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-light::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #e5e5e5;
  }

  .scrollbar-light::-webkit-scrollbar-thumb {
    background: #ff975c;
    border-radius: 4px;
  }

  .scrollbar-light::-webkit-scrollbar-thumb:hover {
    background: #ff792e;
  }

  @supports (-moz-appearance: none) {
    .scrollbar-dark {
      scrollbar-color: #ff975c #666666;
    }

    .scrollbar-dark:hover {
      scrollbar-color: #ff792e #666666;
    }

    .scrollbar-light {
      scrollbar-color: #ff975c #e5e5e5;
    }

    .scrollbar-light:hover {
      scrollbar-color: #ff792e #e5e5e5;
    }
  }
}

/* react-big-calendar */

.rbc-calendar {
  max-width: 100% !important;
}

@media (min-width: 388px) {
  .rbc-toolbar {
    justify-content: space-between !important;
  }
}

@media (min-width: 1024px) {
  .rbc-calendar {
    max-width: calc(100vw - 370px) !important;
  }

  .rbc-toolbar {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1750px) {
  .rbc-calendar {
    max-width: calc(100vw - 430px) !important;
  }
}

.rbc-day-slot .rbc-time-slot {
  border-top: 0px !important;
}

.rbc-timeslot-group {
  height: 60px !important;
  flex: none !important;
}

.rbc-event {
  padding: 0 !important;
  border: 0 !important;
  overflow: visible !important;
}
.rbc-event-label {
  display: none !important;
}

.rbc-today {
  background-color: #ffeee588 !important;
}

.rbc-current-time-indicator {
  background-color: #ff792e !important;
}

.rbc-toolbar {
  width: 100%;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.rbc-toolbar-label {
  display: none;
}

.rbc-button-link {
  width: 100% !important;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-view {
  border: none !important;
}
