@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-blue: #080e1d;
    --rbc-color: #4eb445;
    --rbc-border-color: #4eb445;
    --rbc-today-bg: #4eb445;
  }
}

@font-face {
  font-family: 'SpaceMono';
  src: url('../assets/fonts/space_mono/SpaceMono-Bold.ttf') format('truetype');
  src: url('../assets/fonts/space_mono/SpaceMono-BoldItalic.ttf')
    format('truetype');
  src: url('../assets/fonts/space_mono/SpaceMono-Italic.ttf') format('truetype');
  src: url('../assets/fonts/space_mono/SpaceMono-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  src: url('../assets/fonts/rubik/Rubik-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  src: url('../assets/fonts/rubik/Rubik-Italic-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/manrope/Manrope-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('../assets/fonts/poppins/Poppins-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  src: url('../assets/fonts/poppins/Poppins-Italic-VariableFont_wght.ttf')
    format('truetype');
}

@layer base {
  :root {
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  html {
    padding-right: 0 !important;
    overflow: auto !important;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  * {
    font-family: 'Rubik', sans-serif;
  }

  body {
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
    font-synthesis: none !important;
  }
}

@layer components {
  .desktop-body1 {
    @apply text-base font-normal leading-normal tracking-015px;
  }

  .desktop-h3 {
    @apply text-[48px] font-normal leading-[116.7%] tracking-normal;
  }

  .desktop-h4 {
    @apply text-[34px] font-normal leading-tight tracking-[0.25px];
  }

  .desktop-h5 {
    @apply text-2xl font-normal leading-snug;
  }

  .desktop-h6 {
    @apply text-2xl font-semibold leading-snug;
  }

  .desktop-h7 {
    @apply text-xl font-medium leading-[160%] tracking-015px;
  }

  .desktop-h8 {
    @apply text-xl font-normal leading-relaxed tracking-015px;
  }

  .desktop-subtitle1 {
    @apply text-base font-normal leading-[175%] tracking-015px;
  }

  .desktop-typo1 {
    @apply text-sm font-normal leading-[143%] tracking-[0.17px];
  }

  .desktop-25px-medium {
    @apply text-2xl font-medium leading-normal tracking-normal;
  }

  .mobile-body2 {
    @apply text-sm font-normal leading-[143%] tracking-[0.17px];
  }

  .mobile-caption1 {
    @apply text-xs font-normal leading-normal;
  }

  .mobile-h2 {
    @apply text-2xl font-medium leading-tight;
  }

  .mobile-h3 {
    @apply text-lg font-medium leading-[133.4%];
  }

  .mobile-subtitle1 {
    @apply text-base font-medium leading-normal tracking-015px;
  }

  .mobile-subtitle2 {
    @apply text-sm font-medium leading-[120%];
  }

  .width-increment-20 {
    @apply w-[calc(100%+20px)] -ml-[10px];
  }
}

@layer utilities {
  .filter-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(805%)
      hue-rotate(185deg) brightness(105%) contrast(101%);
  }

  .filter-newOrange1 {
    filter: brightness(0) saturate(100%) invert(33%) sepia(98%) saturate(1484%)
      hue-rotate(3deg) brightness(105%) contrast(102%);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #ffffff33;
    border-radius: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #ff5c00;
    border-radius: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #ff792e;
  }
}

/* react-big-calendar */

.rbc-calendar {
  max-width: 100% !important;
}

@media (min-width: 1024px) {
  .rbc-calendar {
    max-width: calc(100vw - 370px) !important;
  }
}

@media (min-width: 1750px) {
  .rbc-calendar {
    max-width: calc(100vw - 430px) !important;
  }
}

.rbc-day-slot .rbc-time-slot {
  border-top: 0px !important;
}

.rbc-timeslot-group {
  height: 60px !important;
  flex: none !important;
}

.rbc-event {
  padding: 0 !important;
  border: 0 !important;
  overflow: visible !important;
}
.rbc-event-label {
  display: none !important;
}

.rbc-today {
  background-color: #ffeee588 !important;
}

.rbc-current-time-indicator {
  background-color: #ff792e !important;
}

.rbc-toolbar-label {
  visibility: hidden;
}

.rbc-button-link {
  width: 100% !important;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-view {
  border: none !important;
}
